{% extends 'discovery/base.html' %}

{% block more_css %}
<style>
#landing {
    background-image: url("{{ url_for('static', filename="img/cc-background.png") }}");
}

.tutt-blue-background {
    background-color: #3a52a3;
}

.carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
      margin: auto;
  }
</style>
{% endblock %}


{% block main %}
<div class="container" id="landing">
   <h1>Digital CC</h1>
    {% if featured_collection %}
   <div class="row justify-content-center my-3">
        <div class="col-md-8 offset-md-2">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner tutt-blue-background">
                
                {% for row in featured_collection.hits.hits %}
                {% set result = row._source %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <a href="#"><img class="d-block" style="height: 450px"
                       src="{{ url_for('.fedora_datastream', 
                                       pid=result.get('pid'), 
                                       dsid="OBJ",
                                       ext="jpg") }}" 
                        alt="{{ loop.index0 }} slide "></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ result.get("titlePrincipal") }}</h5>
                    </div> 
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="tutt-blue-background d-block text-white">
                Featured Collection: {{ featured_collection.title }}
            </div>
        </div>
   </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">
            <div id="simple-search" class="align-middle tutt-blue-background p-1">
                <form class="" action="{{ url_for('aristotle.query') }}">
                    <div class="form-row">
                        <div class="col-10">{{ search_form.q(class_="form-control", placeholder='Search') }}</div>
                        <div class="col-1">
                            <button type="submit" class="btn tutt-blue-background text-white">GO</button>
                        </div>
                   </div>
                </form>
            </div>
            <a href="#" class="pull-right">Advanced Search</a>
        </div>
    </div>
    <br>
    {% if mode != "landing" %}
    {% include "discovery/results.html" %}
    {% endif %}
    <div class="row tutt-blue-background mx-1">
        <div class="col">
                
                    <p class="text-white">Senior Theses, Essays, and Capstones</p>
                </a>
        </div>
        <div class="col">
            <a href="{{ url_for("aristotle.fedora_object", identifier="pid", value="coccc:5454") }}">
                <p class="text-white">Special Collections</p>
            </a>
        </div>
        <div class="col">

            <p class="text-white">Seay Music Library</p>
        </div>
        <div class="col">

            <a class="text-white">Browse All</a>
        </div>
    </div>
</div>
{% endblock %}


