<div class="row library-tabs ">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container">
           <br><br>
           <ul class="nav nav-fill">
               <li class="nav-item  align-bottom">
                   <a href="https://www.coloradocollege.edu/library/" class="nav-link tab">Tutt Library Home</a>
               </li>
               <li class="nav-item">
                   <a href="https://www.coloradocollege.edu/library/about/" 
                      class="nav-link tab">About the Library</a>
               </li>
               <li class="nav-item">
                   <a href="https://www.coloradocollege.edu/library/resources/"
                       class="nav-link tab">Find Resources</a>
               </li>
               <li class="nav-item">
                   <a href="https://www.coloradocollege.edu/library/help/"
                      class="nav-link tab">Help &amp; How-To's</a>
               </li>
                <li class="nav-item">
                   <a href="https://www.coloradocollege.edu/other/library-partners/"
                      class="nav-link tab tab-highlight">Library Partners</a>
               </li>
             
           </ul>
        </div>{# END container DIV #}
    </div>{# END library-tabs DIV #}
</div>
