<div class="row m-1">
    <div class="col text-center">
        <a href="{{ url_for('aristotle.about_aristotle') }}" class="link-footer">About Digital CC</a>
    </div>
    <!--<div class="col text-center">
        <a href="{{ url_for('aristotle.view_copyright') }}" class="link-footer">Copyright Policy</a>
    </div>-->
    <div class="col text-center">
        <a href="{{ url_for('aristotle.view_takedownpolicy') }}" class="link-footer">Take Down Policy</a>
    </div>
     <div class="col text-center">
        <a href="{{ url_for('aristotle.view_contribute') }}" class="link-footer">Contribute</a>
    </div>
    <div class="col text-center">
        <a href="{{ url_for('aristotle.view_help') }}" class="link-footer">Help</a>
    </div>
    <!--<div class="col text-center">
       <a href="#" onclick="alert('Need URL and Page');" class="link-footer">Contact Us</a>
   </div>-->
    <div class="col text-center">
       <a href="https://discovery.coloradocollege.edu/etd/" class="link-footer">Thesis Submission</a>
   </div>
</div>
