<div class="row justify-content-center ml-1">
     <div class="col-12">
         <div id="simple-search" class="align-middle mt-2">
             <form action="{{ url_for('aristotle.query') }}">
                 <div class="form-row">
                     <div class="col-3">
                         {{ search_form.mode(class_="form-control") }}
                     </div>
                     <div class="col-7">
                         {{ search_form.q(class_="form-control", placeholder='Search') }}

                     </div>
                     <div class="col-1">
                         <button type="submit" class="btn tutt-blue-background text-white">GO</button>

                     </div>
                </div>
 <a style="color: #4764AE;" href="{{ url_for('aristotle.advanced_searching') }}" class="pull-right">Advanced Search&nbsp;&nbsp;&nbsp;</a>                   
             </form>
              <p>test</p>
         </div>
         
     </div>
</div>
