{% extends 'discovery/base.html' %}

{% block main %}
<div class="container">
	<div class="row" style="margin-top: 3em;">
		<h3>Copyright Policy</h3>
			<p>Digital CC includes materials from students, staff, faculty, and alumni of Colorado College as well as digitized works from Special Collections. These materials are made available in order to facilitate their use for non-commercial and educational purposes, as well as to advance the mission of Tutt Library and Colorado College. Materials in Digital CC are protected by copyright. Individual copyright statements are included in the Technical Metadata of each object. You may use materials within Digital CC in ways permitted by the copyright and related rights that apply to your use. Please contact Jessy Randall (<a href="mailto:jrandall@coloradocollege.edu">jrandall@coloradocollege.edu</a>) to inquire about specific rights and permissions. </p>
			<p>Digital CC and Colorado College Tutt Library reserve the right to non-commercial use which includes the non-exclusive right to reproduce, distribute, and make copies of the work (electronically or in print) in connection with digital repositories, teaching, and scholarly activities at Colorado College. The authors of the works within Digital CC retain the right to use, reproduce, distribute, update, create derivatives, and make copies of the work.</p>		
	</div>
	<div class="row">
		<h3>Digital CC Takedown Policy</h3>
			<p>Colorado College makes a conscious effort to ensure all content posted is in compliance with the Digital Millennium Copyright Act (DMCA). We understand that, while we take appropriate measures to ensure that all posted content is compliant with the DMCA, cases that violate the DMCA may still occur. In the event that copyrighted material is posted without the express permission of the copyright holder, we shall remove said content upon the request of the copyright holder. A copyright holder or a person authorized to act on behalf of the copyright holder may request the removal of any infringing material by submitting a DMCA take down request.</p>
	    <h4>The DMCA take down request must provide:</h4>
    <p>1. A physical or electronic signature (i.e., /s/NAME) of a person authorized to act on behalf of the owner of the copyright that is allegedly infringed.</p>
    <p>2. Identification of the copyrighted work claimed to have been infringed.</p>
    <p>3. Identification of the material that is claimed to be infringing and information reasonably sufficient to permit the service provider to locate the material.</p>
    <p>4. Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</p>
    <p>5. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner.</p>
    <p>6. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of the copyright that is allegedly infringed.</p>

    <p><b>Requests must be sent to Jessy Randall at <a href="mailto:jrandall@coloradocollege.edu">jrandall@coloradocollege.edu</a>, 
          Tutt Library, 1021 N. Cascade, Colorado Springs, CO 80903 or 719-389-6668.<b></P>
		</div>
</div>
{% endblock %}
